body {
  display: flex;
  height: 200px;
  flex-direction: column;
  padding: 1em;
}

#main {
  display: flex;
  flex: 1;
}

nav {
  background-color: rgb(228, 110, 225);
}

aside {
  background-color: rgb(207, 240, 74);
}

article {
  background-color: rgb(84, 179, 227);
}

header,
footer {
  background-color: rgb(78, 241, 165);
  margin: 01px;
}

article,
nav,
aside,
header,
footer {
  padding: 1rem;
  margin: 1px;
}

article {
  flex: 2;
}

nav {
  flex: 1;
}

aside {
  flex: 1;
}

